@* Author : VietAnh 23/12/2023
Function : Layout for guest *@
@using Microsoft.AspNetCore.Identity
@using Hygge.Data

@inject SignInManager<HyggeUser> SignInManager
@inject UserManager<HyggeUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hygge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hygge.styles.css" asp-append-version="true" />
    @if (SignInManager.IsSignedIn(User))
    {
        <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
    }
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" role="navigation">
            <a class="navbar-brand" href="">
                <img src="~/img/logo.png" alt="">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                @if (SignInManager.IsSignedIn(User)==false)
                {
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Solution</a>
                        <a href="#" class="nav-item nav-link active">Product</a>
                        <a href="#" class="nav-item nav-link active">Branch</a>
                        <a href="#" class="nav-item nav-link active">Price</a>
                        <a href="#" class="nav-item nav-link active">About</a>
                    </div>
                }
                <partial name="_LoginPartial" />
            </div>

        </div>

    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VietAnh - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (SignInManager.IsSignedIn(User) == false)
    {
        <script src="~/js/login.js" asp-append-version="true"></script>
    }else{
        <script src="~/js/user.js" asp-append-version="true"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>