
.custorm-personal-modal {
    margin-top: 60px;
    margin-right: 4px;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 436px;
    z-index: 991;
    height: 0px;
    right: 0px;
    min-height: 210px;
    max-height: calc(-61px + 100dvh);
    max-width: calc(-8px + 100vw);
    padding-top : 5px !important;
}
.custorm-personal-modal:focus-visible{
    outline:none;
}
.header-info{

}
.avatar-info {
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.btn-manager{
    border-radius:30px;
}

.btn-personal-group {
    border-radius:20px !important;
}
.btn-personal-group:hover {
    background-color: none !important;
}
.btn-personal:hover {
    background-color: #EEEEF0 !important;
    color: black !important;
}

.btn-personal {
    color: black !important;
}

.btn-add-account{
    border-radius: 20px 0px 0px 20px !important;
}
.btn-logout{
    border-radius: 0px 20px 20px 0px !important;
}
.custorm-personal-modal::backdrop {
    display: none;
}