
.custorm-personal-modal {
    margin-top: 60px;
    margin-right: 4px;
    border: none;
    border-radius: 24px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 436px;
    z-index: 991;
    height: 0px;
    right: 0px;
    min-height: 210px;
    max-height: calc(-61px + 100dvh);
    max-width: calc(-8px + 100vw);
    padding-top : 5px !important;
}
.custorm-personal-modal:focus-visible{
    outline:none;
}

.btn-close{
    box-shadow:none!important;
}
.avatar-info {
    width: 50px;
    height: 50px;
    border-radius:50px;
}

.btn-manager{
    border-radius:30px;
}

.btn-personal-group {
    border-radius:20px !important;
}
.btn-personal-group:hover {
    background-color: none !important;
}
.btn-personal:hover {
    background-color: #EEEEF0 !important;
    color: black !important;
}

.btn-personal {
    color: black !important;
}

.btn-add-account{
    border-radius: 20px 0px 0px 20px !important;
}
.btn-logout{
    border-radius: 0px 20px 20px 0px !important;
    box-shadow: none !important;
}
.custorm-personal-modal::backdrop {
    display: none;
}

item-icon:hover {
    border-radius: 50px !important;
    background-color: gray !important;
}
.card {
    width:30px;
    height:30px;
    cursor: pointer;
    background-color:transparent !important;
}

.card:hover{
    background-color:lightgray !important;
}
.card-active {
    background-color: lightgray !important;
}

.custorm-menu-modal {
    margin-top: 60px;
    margin-right: 4px;
    border: none;
    border-radius: 24px;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    width: 350px;
    z-index: 991;
    height: 0px;
    right: 0px;
    min-height: 210px;
    max-height: calc(-61px + 100dvh);
    max-width: calc(-8px + 100vw);
    padding-top: 5px !important;
    padding-right:5px !important;
}
.custorm-menu-modal::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.custorm-menu-modal:focus-visible {
    outline: none;
}
.custorm-menu-modal::backdrop {
    display: none;
}

/*----------------------------menu icon----------------------------*/
.hygge-search, .hygge-manager, .hygge-map, .hygge-worksheet, .hygge-ar, .hygge-youtube, .hygge-play, .hygge-news, .hygge-mail, .hygge-meet, .hygge-chat, .hygge-contact, .hygge-driver, .hygge-translate , .hygge-calendar{
    background-image: url('../img/navbar_user/menu_bar.png');
    background-repeat: no-repeat;
    background-size: 53px 2547px;
    height: 53px;
    width: 53px;
}

.hygge-worksheet {
    background-position: 0 0;
}
.hygge-search {
    background-position: 0 -1392px;
}
.hygge-manager {
    background-position: 0 -406px;
}
.hygge-map {
    background-position: 0 -1044px;
}
.hygge-youtube {
    background-position: 0 -2378px;
}
.hygge-play {
    background-position: 0 -290px;
}
.hygge-news {
    background-position: 0 -1334px;
}
.hygge-mail {
    background-position: 0 -2436px;
}
.hygge-meet {
    background-position: 0 -348px;
}
.hygge-chat {
    background-position: 0 -580px;
}
.hygge-contact {
    background-position: 0 -1624px;
}
.hygge-driver {
    background-position: 0 -116px;
}
.hygge-calendar {
    background-position: 0 -1276px;
}
.hygge-translate {
    background-position: 0 -1682px;
}
.hygge-ar {
    background-position: 0 -1566px;
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*--------------------------------------setting-icon----------------------------------------------------*/

.setting-menu {
    border-right: 1px solid rgb(218,220,224);
}
.setting-item {
    border-bottom-right-radius: 36px !important;
    border-top-right-radius: 36px !important;
    justify-content: flex-start !important;
    align-items: center !important;
    display: inline-flex !important;
    gap: 5px !important;
}
.setting-active {
    background: #E8F0FE;
}
.setting-edit-item {
    padding-top: 18px;
    padding-bottom: 18.40px;
    padding-left: 10.80px;
    padding-right: 46.66px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px #80868B solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: flex
}

.setting-modal{
    max-width: 800px !important;
    min-height:400px !important;
}