@*
//*****************************************************************************
//* ALL RIGHTS RESERVED. COPYRIGHT (C) 2024 Hygge                             *
//*****************************************************************************
//* File Name    : Index.cshtml　　                                            *
//* Function     : Home view                                                  *
//* Create       : VietAnh 2023/12/28                                         *
//*****************************************************************************.
*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using Hygge.Data


@inject SignInManager<HyggeUser> SignInManager
@inject UserManager<HyggeUser> UserManager
@if (SignInManager.IsSignedIn(User) == false)
{
    <section id="hero">
        <div class="container">
            <div class="row g-3 mt-1">
                <div class="col-md-6 col-lg-7 ">
                    <h1><b>Video call with anyone, anywhere</b></h1>
                    <h3>Stay in touch and collaborate with friends, family and colleagues, no matter where you are.</h3>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 d-flex justify-content-center justify-content-md-between mt-2"><a class="btn btn-primary btn-lg" type="button" asp-area="Identity" asp-page="/Account/Login">Log in</a></div>
                        <div class="col col-md-6 d-flex justify-content-center justify-content-md-between mt-2">
                            <div class="dropdown mx-2 d-none d-lg-block">
                                <a class="btn btn-outline-primary meet-create dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="d-lg-inline">Try meet</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><span class="dropdown-item">For businesses</span></li>
                                    <li><span class="dropdown-item">For Everyone</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 d-none d-lg-block">
                        <span class="col-lg-5 meet-join-text">Start a meeting now</span>
                        <a class="col mt-1" id="meetingBefore">Join a meeting</a>
                        <div class="col position-relative px-0 mt-1" id="meetingAfter" style="display: none;">
                            <input type="text" class="form-control position-absolute " placeholder="Enter a code" aria-label="コード" id="inputCode" oninput="CheckCodeJoin()">
                            <button class="btn btn-outline-primary position-absolute end-0 meet-join-btn" type="button" disabled id="joinBtn">Join</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 order-2">
                    <img class="img-fluid" src="~/img/hero.png" alt="">
                </div>
            </div>
        </div>
    </section>
}
else
{


}